@{
    ViewData["Title"] = "Home Page";
    ViewData["WRList"] = new List<WebsiteRecord>();
}

<div class="text-center">
    <h2>Here is the list of current Website Records.</h2>
    @{
        //The view must contain Label, Periodicity, Tags, 
        //time of last execution, the status of last execution.
    }
</div>

<!-- <svelte-app id="khalid" name="Khalid" test="Ahoj"></svelte-app>
<svelte-app id="paul" name="Paul"></svelte-app> -->
